body {
    background-color: black;
    color: #5c5c5c;
   font-family: 'Times New Roman', Times, serif;  
    
}

span{
    color: #5c5c5c; 
    border: 1px solid; 
    padding: 10px;
}

.videos{
    display: flex;
    
    justify-content: space-between;

}
img{
   
    width: 350ra0px;
    height: auto;
    
}

.Imagem {
  position: fixed;
  bottom: 0;
  left: 920px;
}

.videos img:last-child{
    margin-left: 800px;
}

*{
    margin: 1000;
    padding: 1000;
    box-sizing: border-box;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

header{
    padding: 40px;
}

.menu-desktop{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
    margin-bottom: 40px;
  text-decoration: none;
  margin-top: 100px;
}

ul{
    display: flex;
    text-decoration: none;
    gap: 200px;
    
}

a{
    text-decoration: none;
    
    color: #5c5c5c;
    
}

header{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content:space-between ;
}

header .botao-contato button{
padding: 10px 40px;
font-size: 18px;
font-weight:700;
background-color: #00ff08;
border: 0;
border-radius:30px;
}

.botao-contato{
    position: absolute;
    right: 10px;
    top: 255px;
    

}

.logo{
   display: flex;
   justify-content:center;
}